# @license EUPL-1.2+
# Copyright Gemeente Amsterdam

# Node and dependencies
node_modules/

# Generated output
build/
coverage/
dist/
tmp/

# Cache
.cache/
.swc/
tsconfig.tsbuildinfo

# Logs
logs/
*.err
*.log
*.tmp

# Files that may contain secrets
# Do not ignore an example for it
*.env
.env.*
!.env.example
