# @license EUPL-1.2+
# Copyright Gemeente Amsterdam

# Node and dependencies
# Do not ignore package-lock.json in the root
.npm/
node_modules/
package-lock.json
!/package-lock.json

# Generated output
build/
coverage/
dist/
tmp/

# Cache
.cache/
.swc/
tsconfig.tsbuildinfo

# Logs
logs/
*.err
*.log
*.tmp

# Files that may contain secrets
# Do not ignore an example for it
*.env
.env.*
!.env.example
