:root {
  --ams-docs-grey: rgb(0 0 0 / 6.25%);
  --ams-docs-pink: rgb(229 0 130 / 25%);
  --ams-docs-lightblue: rgb(0 130 229 / 25%);
}

.ams-docs-figure {
  display: flex;
  gap: 0.25rem;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.ams-docs-image,
.ams-docs-figure > img {
  display: block;
  max-inline-size: 100%;
  outline: 0.0625rem dashed #e8e8e8;
}

.ams-docs-figure > figcaption {
  text-align: center;
}

.ams-docs-gallery {
  align-items: flex-end;
  display: flex;
  gap: 2rem;
  margin-block: 1.5rem;
}

.ams-docs-gallery .ams-docs-figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: fit-content;
  margin-inline: 0;
}

.ams-docs-card {
  border: 0.0625rem solid hotpink;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  inline-size: 50%;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.ams-docs-dark-background,
.ams-docs-light-background {
  margin-block: -1rem;
  margin-inline: -1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}

/* Do not change the order of these two selectors. They ensure the dark background wins if both are set, which is in line with the implementation of the React-component. */
.ams-docs-light-background {
  background-color: #ffe600; /* Yellow */
}

.ams-docs-dark-background {
  background-color: #004699; /* Dark blue */
}

.ams-docs-backdrop {
  background-color: #0006;
  block-size: 100%;
  inline-size: 100%;
  position: absolute;
}

.ams-docs-column,
.ams-docs-grid,
.ams-docs-row {
  border-inline: thin solid var(--ams-docs-grey);
}

.ams-docs-column,
.ams-docs-row {
  background: repeating-linear-gradient(
    135deg,
    var(--ams-docs-grey),
    var(--ams-docs-grey) 0.5rem,
    white 0.5rem,
    white 1rem
  );
}

.ams-docs-column {
  max-inline-size: 16rem;
  min-block-size: 16rem;
}

.ams-docs-row {
  min-block-size: 6rem;
}

.ams-docs-grid {
  block-size: 100vh;
  inset-block: 0;
  inset-inline: 0;
  position: absolute;

  /* stylelint-disable selector-max-id */
  #storybook-docs & {
    block-size: 100%;
  }
  /* stylelint-enable selector-max-id */
}

.ams-docs-grid__cell {
  background-color: var(--ams-docs-grey);
}

@media screen and (width < 36rem) {
  .ams-docs-grid__cell:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (width < 68rem) {
  .ams-docs-grid__cell:nth-child(n + 9) {
    display: none;
  }
}

.ams-docs-aspect-ratio {
  min-block-size: initial;
  padding-block: var(--ams-space-md);
  padding-inline: var(--ams-space-md);
}

.ams-docs-item {
  background-color: var(--ams-docs-pink);
  border: thin dashed var(--ams-docs-grey);
  font-family: "Amsterdam Sans", sans-serif;
  font-size: var(--ams-paragraph-small-font-size);
  line-height: var(--ams-paragraph-small-line-height);
  padding-block: 1.5rem;
  text-align: center;

  .ams-docs-row > & {
    flex-basis: 8rem;
    padding-inline: 1.5rem;
  }

  .ams-docs-column > & {
    min-inline-size: 3rem;
  }
}

.ams-docs-item--highlight {
  background-color: var(--ams-docs-lightblue);
}

[class*="ams-docs-token-example--"] {
  block-size: 1rem;
}

[class*="ams-docs-token-example--border"] {
  border-inline-start-style: solid;
}

[class*="ams-docs-token-example--space"] {
  background-color: var(--ams-color-primary-white);
  outline: 1px dashed var(--ams-color-neutral-grey2);
}

.ams-resize-horizontal {
  outline: 1px dashed var(--ams-docs-pink);
  overflow: auto;
  padding-block-end: 1rem;
  resize: horizontal;
}
