.ams-docs-color-sample {
  block-size: 1rem;
  box-shadow: inset 0 0 0 0.0625rem rgb(0 0 0 / 12.5%);

  /* stylelint-disable-next-line plugin/use-baseline -- We allow non-baseline CSS in Storybook. */
  forced-color-adjust: none;
  inline-size: 1rem;
}
