.ams-storybook-icon-gallery {
  column-gap: var(--ams-space-grid-sm);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  row-gap: var(--ams-space-grid-md);
}
.ams-storybook-icon-gallery__item {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-sm);

  span {
    font-family: var(--ams-text-font-family);
    font-size: var(--ams-text-level-6-font-size);
    line-height: var(--ams-text-level-6-line-height);
  }
}
