.ams-inline-color-sample{block-size:1rem;display:inline-block;forced-color-adjust:none;inline-size:1rem;inset-block-start:.125rem;position:relative}.ams-inline-color-sample--white{box-shadow:inset 0 0 0 .0625rem #00000020}
