/* stylelint-disable */

.tabslist {
  &::-webkit-scrollbar {
    block-size: 0;
    display: none;
  }
}

.ql {
  margin-block-end: var(--ams-space-m);

  > * {
    border-color: black !important;
  }
}

.formlayout {
  max-inline-size: 80ch;
}

.select {
  field-sizing: content;
  inline-size: initial;
}

.name {
  inline-size: 30ch;
  max-inline-size: 100%;
}

.summaryTab {
  align-items: start;
  display: grid;
  gap: var(--ams-space-xl);
  grid-template-areas:
    "toc"
    "data";
  grid-template-columns: 1fr;
  inline-size: 100%;

  @media (width >= 80ch) {
    grid-template-areas: "data toc";
    grid-template-columns: 3fr 1fr;
  }
}

.summaryTabToc {
  grid-area: toc;

  @media (width >= 80ch) {
    align-self: start;
    inset-block-start: var(--ams-space-m);
    position: sticky;
  }
}

.summaryTabData {
  grid-area: data;
}

.hulpverlening {
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-m);
  margin-block-end: var(--ams-space-xl);
  overflow: auto;
  padding-block: var(--ams-space-m);
}

.table {
  inline-size: 100%;
}

.tableCellNoWrap {
  white-space: nowrap;
}

.hr {
  border-style: solid;
  color: var(--ams-color-neutral-grey2);
  margin-block: var(--ams-space-l);
}

.hotspot_header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--ams-space-m);
  justify-content: space-between;
}

.map_container {
  block-size: 50cqb;
  position: relative;
}

/* .panel, */

/* .dd {
  overflow-x: auto;
} */

.ddtable {
  padding-inline-start: 0;
}

.breadcrumb_active {
  color: var(--ams-color-primary-black);
  pointer-events: none;

  &:hover {
    color: var(--ams-color-primary-black);
    text-decoration: none;
  }
}

.search {
  inline-size: initial;
}

.maxcontent {
  max-inline-size: 120ch;
}

.nowrap {
  white-space: nowrap;
}
