@import "../utils";

.amsterdam-link {
  align-items: baseline;
  color: var(--amsterdam-color-primary-blue);
  display: inline-flex;
  font-size: calculate-fluid-style(18, 24);
  font-weight: 800;
  line-height: calculate-fluid-style(29, 38);
  outline-offset: var(--amsterdam-focus-outline-offset);
  text-decoration: none;
}

.amsterdam-link:focus,
.amsterdam-link:hover {
  text-decoration: underline;
}

.amsterdam-link-standalone {
  box-shadow: inset 0 -2px var(--amsterdam-color-primary-blue);
  font-weight: 400;
  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}

.amsterdam-link-standalone:focus,
.amsterdam-link-standalone:hover {
  box-shadow: inset 0 -3px var(--amsterdam-color-primary-blue);
  text-decoration: none;
}

.amsterdam-link-inline {
  color: var(--amsterdam-color-primary-blue);
  display: inline;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: inherit;
  line-height: inherit;
}

.amsterdam-link-inlist {
  font-size: calculate-fluid-style(16, 18);
  font-weight: 400;
  line-height: calculate-fluid-style(24, 26);
  padding-block: 12px;
}
