.amsterdam-list {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

.amsterdam-list-unordered {
  list-style: square;
  margin-inline: 1.5rem 0;
}

.amsterdam-list-ordered {
  list-style: auto;
  margin-inline: 1.5rem 0;
}
