/* stylelint-disable */

.ams-status {
  align-items: flex-start;
  counter-reset: status;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--ams-typography-font-family);
  font-size: var(--ams-typography-body-text-font-size);
  line-height: var(--ams-typography-body-text-line-height);
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;

  .ams-status__item {
    --ams-status-item-bullet-width: 2rem;

    column-gap: 1rem;
    counter-increment: section;
    display: grid;
    grid-template-areas:
      "bullet title"
      "line content";
    grid-template-columns: 32px 1fr;
    padding-block-end: var(--ams-space-m);
    position: relative;

    &::before {
      background-color: var(--ams-color-text-secondary);
      block-size: var(--ams-status-item-bullet-width);
      border-radius: 100%;
      color: white;
      content: counter(section);
      display: inline grid;
      grid-area: bullet;
      inline-size: var(--ams-status-item-bullet-width);
      place-content: center;
      z-index: 2;
    }

    &.ams-status__item--done::before {
      background-color: var(--ams-color-highlight-green);
    }

    &.ams-status__item--active::before {
      background-color: var(--ams-color-interactive);
    }

    &::after {
      border-inline-end: 2px dashed var(--ams-color-text-secondary);
      content: "";
      inset-block: 0;
      position: absolute;
      transform: translateX(calc(var(--ams-status-item-bullet-width) / 2 - 1px));
      z-index: 1;
    }

    &.ams-status__item--done::after {
      border-color: var(--ams-color-highlight-green);
      border-inline-end-style: solid;
    }

    &.ams-status__item--done .ams-status__step::before {
      background-color: var(--ams-color-highlight-green);
    }

    &:last-child {
      padding-block-end: 0;

      &::after {
        display: none;
      }
    }
  }

  .ams-status__title,
  .ams-status__button {
    align-self: center;
    font-size: var(--ams-typography-level-4-font-size);
    font-weight: 700;
    grid-area: title;
    line-height: var(--ams-typography-level-4-line-height);
  }

  .ams-status__button {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    flex: 1 0 100%;
    gap: var(--ams-space-s);
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    text-align: start;
  }

  .ams-status__content {
    display: grid;
    font-size: var(--ams-typography-body-text-font-size);
    grid-column: line / content;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    line-height: var(--ams-typography-body-text-line-height);
    list-style: none;
    padding-block: var(--ams-space-xs);
    padding-inline: 0;
    row-gap: var(--ams-space-s);
  }

  .ams-status__caption,
  .ams-status__description {
    grid-column: content;
    inline-size: 100%;
  }

  .ams-status__step {
    --ams-status-step-bullet-width: 1rem;

    grid-column: content;
    padding-inline: 0;
    position: relative;

    &::before {
      background-color: var(--ams-color-text-secondary);
      block-size: var(--ams-status-step-bullet-width);
      border-radius: 100%;
      content: "";
      display: inline;
      inline-size: var(--ams-status-step-bullet-width);
      position: absolute;
      transform: translate(-2.5rem, 0.3em);
    }
  }
}

.ams-status--collapsible {
  .ams-status__item {
    .ams-status__step,
    .ams-status__caption,
    .ams-status__description {
      display: none;
    }

    .ams-status__icon svg {
      transform-origin: center;
      transition: rotate 0.2s ease-in-out;

      @media (prefers-reduced-motion) {
        transition: none;
      }
    }

    &.ams-status__item--expanded {
      .ams-status__icon svg {
        rotate: 180deg;
      }

      .ams-status__step,
      .ams-status__caption,
      .ams-status__description {
        display: initial;
      }
    }
  }
}
