.amsterdam-docs-figure {
  margin: 0; /* stylelint-disable-line */
  padding: 0; /* stylelint-disable-line */
}

.amsterdam-docs-figure > img {
  display: block;
  max-width: 100%;
}

.amsterdam-docs-pink-box {
  background-color: rgba(229, 0, 130, 25%); /* stylelint-disable-line color-function-notation */
  padding-block: 2rem;
  text-align: center;
}

.amsterdam-docs-dark-background {
  background-color: #004699;
  margin: -16px; /* stylelint-disable-line */
  padding: 16px; /* stylelint-disable-line */
}
