.amsterdam-switch {
  display: inline-block;
  line-height: 0;
  outline-offset: var(--amsterdam-switch-outline-offset);
  overflow: hidden;
  padding-block: 6px;
  position: relative;
}

.amsterdam-switch-input {
  height: 0;
  position: absolute;
  width: 0;
}

.amsterdam-switch-toggle {
  background-color: var(--amsterdam-switch-background-color);
  border-radius: 50px;
  box-sizing: border-box;
  display: inline-block;
  padding-block: 2px;
  padding-inline: 2px;
  transition: background-color 0.2s ease-in-out;
  width: 58px;
}

.amsterdam-switch-toggle-inner {
  background-color: var(--amsterdam-switch-toggle-background-color);
  border-radius: 50%;
  display: block;
  height: 28px;
  transform: translate(0);
  transition: transform 0.1s ease-in-out;
  width: 28px;
}

.amsterdam-switch-input:checked + .amsterdam-switch-toggle {
  background-color: var(--amsterdam-switch-checked-background-color);
}

.amsterdam-switch-input:disabled + .amsterdam-switch-toggle {
  background-color: var(--amsterdam-switch-disabled-background-color);
}

.amsterdam-switch-input:checked + .amsterdam-switch-toggle > .amsterdam-switch-toggle-inner {
  transform: translate(calc(100% - 2px));
}
