.amsterdam-switch {
  display: inline-block;
  font-family: var(--amsterdam-switch-font-family);
  font-size: var(--amsterdam-switch-font-size-narrow);
  line-height: var(--amsterdam-switch-line-height);
  outline-offset: var(--amsterdam-switch-outline-offset);
  overflow: visible;
  position: relative;
}

.amsterdam-switch__label {
  align-items: center;
  display: inline-flex;
}

// TODO: use the new VisibilityHidden component
.amsterdam-switch__input {
  appearance: none;
  height: 1px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  touch-action: pan-y;
  width: 1px;
}

.amsterdam-switch__toggle {
  background-color: var(--amsterdam-switch-background-color);
  border-radius: 50px;
  box-sizing: border-box;
  display: inline-block;
  padding-block: 1px;
  padding-inline: 1px;
  transition: background-color 0.2s ease-in-out;
  width: var(--amsterdam-switch-toggle-width);
}

.amsterdam-switch__toggle-inner {
  background-color: var(--amsterdam-switch-toggle-background-color);
  border-radius: 50%;
  display: block;
  height: var(--amsterdam-switch-toggle-inner-height);
  transform: translate(0);
  transition-duration: 0.1s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in-out;
  width: var(--amsterdam-switch-toggle-inner-width);
}

.amsterdam-switch__input:checked + .amsterdam-switch__label > .amsterdam-switch__toggle {
  background-color: var(--amsterdam-switch-checked-background-color);
}

.amsterdam-switch__input:disabled + .amsterdam-switch__label > .amsterdam-switch__toggle {
  background-color: var(--amsterdam-switch-disabled-background-color);
}

.amsterdam-switch__input:focus-visible + .amsterdam-switch__label > .amsterdam-switch__toggle {
  outline-color: -webkit-focus-ring-color;
  outline-offset: var(--amsterdam-switch-outline-offset);
  outline-style: auto;
}

.amsterdam-switch__input:checked
  + .amsterdam-switch__label
  > .amsterdam-switch__toggle
  > .amsterdam-switch__toggle-inner {
  transform: translate(100%);
}

.amsterdam-switch:hover
  .amsterdam-switch__input:enabled
  ~ .amsterdam-switch__label
  .amsterdam-switch__toggle
  .amsterdam-switch__toggle-inner {
  box-shadow: 0 0 0 2px var(--amsterdam-switch-hover-color);
}
