@mixin reset {
  box-sizing: border-box;
}

.amsterdam-switch__input {
  appearance: none;
  margin-block: 0;
  margin-inline: 0;
  opacity: 0%; /* to hide native input field in older iOS */
}

.amsterdam-switch__label {
  background-color: var(--amsterdam-switch-background-color);
  border-radius: calc(var(--amsterdam-switch-thumb-width) * 2);
  cursor: pointer;
  display: inline-block;
  padding-block: 1px;
  padding-inline: 1px;
  transition: background-color 0.2s ease-in-out;
  width: var(--amsterdam-switch-width);

  @include reset;
}

.amsterdam-switch__label::before {
  background-color: var(--amsterdam-switch-thumb-background-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: var(--amsterdam-switch-thumb-height);
  transition-duration: 0.1s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in-out;
  width: var(--amsterdam-switch-thumb-width);
}

.amsterdam-switch__input:checked + .amsterdam-switch__label {
  background-color: var(--amsterdam-switch-checked-background-color);
}

.amsterdam-switch__input:disabled + .amsterdam-switch__label {
  background-color: var(--amsterdam-switch-disabled-background-color);
  cursor: not-allowed;
}

.amsterdam-switch__input:focus-visible + .amsterdam-switch__label {
  outline-color: -webkit-focus-ring-color;
  outline-offset: var(--amsterdam-switch-outline-offset);
  outline-style: auto;
}

.amsterdam-switch__input:checked + .amsterdam-switch__label::before {
  // The 2px is to account for the 1px padding-inline on the label
  transform: translate(calc(var(--amsterdam-switch-width) - var(--amsterdam-switch-thumb-width) - 2px));
}

.amsterdam-switch:hover .amsterdam-switch__input:enabled + .amsterdam-switch__label::before {
  box-shadow: 0 0 0 2px var(--amsterdam-switch-thumb-hover-color);
}
