$amsterdam-columns-small: 4;
$amsterdam-columns-large: 12;

@import "../utils/breakpoint";

.amsterdam-grid {
  column-gap: clamp(16px, 2vw, 24px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1440px;
  padding-inline: clamp(16px, 2vw, 32px);

  @media (min-width: $amsterdam-breakpoint) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin col-span-x {
  @for $i from 1 through $amsterdam-columns-small {
    .amsterdam-col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
}

@mixin col-start-x {
  @for $i from 1 through $amsterdam-columns-small {
    .amsterdam-col-start-#{$i} {
      grid-column-start: $i;
    }
  }
}

@mixin col-span-large-x {
  @for $i from 1 through $amsterdam-columns-large {
    .amsterdam-col-span-#{$i}--large {
      @media (min-width: $amsterdam-breakpoint) {
        grid-column: span $i / span $i;
      }
    }
  }
}

@mixin col-start-large-x {
  @for $i from 1 through $amsterdam-columns-large {
    .amsterdam-col-start-#{$i}--large {
      @media (min-width: $amsterdam-breakpoint) {
        grid-column-start: $i;
      }
    }
  }
}

@include col-span-x;
@include col-start-x;
@include col-span-large-x;
@include col-start-large-x;
