.container {
  block-size: 100%;
  min-block-size: 33dvh;
  max-block-size: 50dvh;
}

.usermenu {
  display: flex;
  gap: var(--ams-space-grid-sm);
  cursor: pointer;
}

.disclaimer {
  flex: 1 1 auto;
  text-align: right;
}
