/* stylelint-disable */

.container {
  block-size: 100%;
  max-block-size: 50dvh;
  min-block-size: 33dvh;
}

.usermenu {
  cursor: pointer;
  display: flex;
  gap: var(--ams-space-grid-sm);
}

.disclaimer {
  flex: 1 1 auto;
  text-align: end;
}
