.ams-storybook-design-tokens-table{overflow-x:auto}.ams-storybook-design-tokens-table--header th{text-align:start}.ams-docs-color-sample{block-size:1rem;box-shadow:inset 0 0 0 .0625rem #00000020;forced-color-adjust:none;inline-size:1rem}
