/* stylelint-disable */

.ams-timeline {
  --ams-timeline-step-bullet-width: 0.8rem;

  container-type: inline-size;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;

  .ams-timeline__step {
    display: grid;
    grid-template-areas:
      "timeline date actions"
      "timeline title title"
      "timeline content content";
    grid-template-columns: 2rem 1fr auto;
    padding-block: 1rem;
    position: relative;
    row-gap: 0.2rem;

    @container (min-width: 64ch) {
      column-gap: 32px;
      grid-template-areas:
        "date timeline title actions"
        "date timeline content content";
      grid-template-columns: 20ex 12px 1fr auto;
    }
  }

  .ams-timeline__date {
    font-family: var(--ams-typography-font-family);
    font-size: var(--ams-typography-level-6-font-size);
    grid-area: date;
    line-height: var(--ams-typography-level-6-line-height);
  }

  .ams-timeline__bullet {
    background-color: var(--ams-color-text, black);
    block-size: var(--ams-timeline-step-bullet-width);
    border-radius: 100%;
    display: block;
    grid-area: timeline;
    inline-size: var(--ams-timeline-step-bullet-width);
    margin-block-start: 0.3rem;

    &::before {
      background-color: var(--ams-color-text);
      content: "";
      inline-size: 1px;
      inset-block: 0;
      position: absolute;
      transform: translateX(calc(var(--ams-timeline-step-bullet-width) / 2));
      z-index: 1;
    }
  }

  .ams-timeline__step:first-child .ams-timeline__bullet::before {
    inset-block-start: 1.5rem;
  }

  .ams-timeline__step:last-child .ams-timeline__bullet::before {
    block-size: 1.4rem;
    inset-block-end: initial;
  }

  .ams-timeline__title {
    grid-area: title;
  }

  .ams-timeline__actions {
    display: flex;
    flex-direction: row;
    gap: var(--ams-space-xs);
    grid-area: actions;
  }

  .ams-timeline__content {
    display: flex;
    flex-direction: column;
    gap: var(--ams-space-s);
    grid-area: content;
  }
}

.ams-timeline--collapsible {
  .ams-timeline__step {
    .ams-timeline__content {
      display: none;
    }

    .ams-timeline__toggle svg {
      transform-origin: center;
      transition: rotate 0.2s ease-in-out;

      @media (prefers-reduced-motion) {
        transition: none;
      }
    }

    &.ams-timeline__step--expanded {
      .ams-timeline__toggle svg {
        rotate: 180deg;
      }

      .ams-timeline__content {
        display: initial;
      }
    }
  }
}
