@import "../../utils/calculate-fluid-style";

.amsterdam-icon {
  align-items: center;
  display: inline-flex;

  /* TODO: this height should be provided by the text element its part of? */
  height: calculate-fluid-style(24, 26);

  /* TODO: 12px is not part of the design system, what should this be? */
  margin-inline-end: 12px;

  /* Offset icon by 3px, because Amsterdam Sans vertical alignment is off */
  padding-block-end: 3px;
}

.amsterdam-icon svg {
  fill: currentColor;
}

.amsterdam-icon-small svg {
  height: 1rem;
  width: 1rem;
}

.amsterdam-icon-medium svg {
  height: 1.5rem;
  width: 1.5rem;
}

.amsterdam-icon-large svg {
  height: 2rem;
  width: 2rem;
}
