/* stylelint-disable */

.cards {
  display: grid;
  grid-template-columns: subgrid;
  row-gap: var(--ams-grid-row-gap-xl);
}

.card {
  box-shadow: inset 0 0 0 var(--ams-border-width-m) var(--ams-color-text-secondary);
  grid-column: span 4;
  padding-block: var(--ams-space-m);
  padding-inline: var(--ams-space-m);
}

.relative {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}
