name: Publish

on:
  workflow_run:
    workflows: [Lint and test]
    types: [completed]
    branches: [main]

permissions:
  contents: write
  id-token: write # Required for trusted publishing to npm
  pull-requests: write

jobs:
  create-release-and-publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Create release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target-branch: main

      # The logic below handles the Storybook deploy:
      - name: Check out branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # This is necessary because on.workflow_run always runs on the
          # default branch, which is 'develop' in our case
          ref: "main"

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: pnpm
          node-version-file: .nvmrc
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Storybook
        run: pnpm --filter=storybook build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          branch: gh-pages
          folder: storybook/dist
          # feature branch directories are prefixed with demo-*
          # these are excluded from this action's default clean
          clean-exclude: demo-*

      # The logic below handles the npm publication:
      - name: Publish
        run: pnpm -r publish
        # this if statement ensures that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.releases_created == 'true' }}
